@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#home_template{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../public/images/carousel/carousel1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 10em;
    padding-bottom: 10em;
}

#project_template{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../public/images/carousel/carousel1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
}

#realestate_template{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../public/images/carousel/carousel1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
}

#form_template{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../public/images/carousel/carousel3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
}

.crd {

    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .crd-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
/*user name= E1152913, password = 179784 */
  .crd--effect-1 .crd-img {
    transform: scale(.9);
    transition: .4s;
  }
  
  .crd--effect-1:hover .crd-img {
    transform: scale(1);
  }